In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('../Netflix_project/dataset/netflix1.csv')

In [3]:
data1

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,1/17/2017,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,s8798,TV Show,Zak Storm,Not Given,United States,9/13/2018,2016,TV-Y7,3 Seasons,Kids' TV
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12/15/2016,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016,TV-Y7,1 Season,Kids' TV

In [4]:
data1.shape

(8790, 10)

In [5]:
data1 = data1.drop(['show_id','date_added'], axis=1)

In [6]:
data1

,type,title,director,country,release_year,rating,duration,listed_in
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,PG-13,90 min,Documentaries
1,TV Show,Ganglands,Julien Leclercq,France,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,TV Show,Midnight Mass,Mike Flanagan,United States,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,Movie,Sankofa,Haile Gerima,United States,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...
8785,TV Show,Yunus Emre,Not Given,Turkey,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,TV Show,Zak Storm,Not Given,United States,2016,TV-Y7,3 Seasons,Kids' TV
8787,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,TV Show,Yoko,Not Given,Pakistan,2016,TV-Y,1 Season,Kids' TV
8789,TV Show,YOM,Not Given,Pakistan,2016,TV-Y7,1 Season,Kids' TV

In [7]:
data1 = data1.rename(columns={'listed_in': 'category'})

In [8]:
data1.duplicated().sum()

3

In [9]:
data1.isna().sum()

type            0
title           0
director        0
country         0
release_year    0
rating          0
duration        0
category        0
dtype: int64

In [10]:
data1 = data1.drop_duplicates()

In [11]:
data1.duplicated().sum()

0

In [12]:
data2 = pd.read_csv('../Netflix_project/dataset/netflix3.csv', encoding='latin-1')

In [13]:
data2

,title,year,certificate,duration,genre,rating
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama",8.5
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History",8.7
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama",8.9
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery",5.9
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure",8.6
...,...,...,...,...,...,...
9951,The Imperfects,(2022Ã¢Â€Â“ ),TV-MA,45 min,"Action, Adventure, Drama",6.3
9952,The Walking Dead,(2010Ã¢Â€Â“2022),TV-MA,44 min,"Drama, Horror, Thriller",8.1
9953,The Crown,(2016Ã¢Â€Â“ ),TV-MA,58 min,"Biography, Drama, History",8.7
9954,Supernatural,(2005Ã¢Â€Â“2020),TV-14,44 min,"Drama, Fantasy, Horror",8.4
9955,Devil in Ohio,-2022,TV-MA,356 min,"Drama, Horror, Mystery",5.9

In [14]:
data2 = data2.drop(['rating'], axis=1)

In [15]:
data2 = data2.rename(columns={'year': 'release_year','certificate':'rating', 'genre':'category'})

In [16]:
data2

,title,release_year,rating,duration,category
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama"
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History"
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery"
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure"
...,...,...,...,...,...
9951,The Imperfects,(2022Ã¢Â€Â“ ),TV-MA,45 min,"Action, Adventure, Drama"
9952,The Walking Dead,(2010Ã¢Â€Â“2022),TV-MA,44 min,"Drama, Horror, Thriller"
9953,The Crown,(2016Ã¢Â€Â“ ),TV-MA,58 min,"Biography, Drama, History"
9954,Supernatural,(2005Ã¢Â€Â“2020),TV-14,44 min,"Drama, Fantasy, Horror"
9955,Devil in Ohio,-2022,TV-MA,356 min,"Drama, Horror, Mystery"

In [17]:
data2['release_year'] = data2['release_year'].str.replace('(', '').str.replace(')', '')

C:\Users\ninav\AppData\Local\Temp\ipykernel_35156\4184219904.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data2['release_year'] = data2['release_year'].str.replace('(', '').str.replace(')', '')

In [18]:
data2

,title,release_year,rating,duration,category
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama"
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History"
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery"
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure"
...,...,...,...,...,...
9951,The Imperfects,2022Ã¢Â€Â“,TV-MA,45 min,"Action, Adventure, Drama"
9952,The Walking Dead,2010Ã¢Â€Â“2022,TV-MA,44 min,"Drama, Horror, Thriller"
9953,The Crown,2016Ã¢Â€Â“,TV-MA,58 min,"Biography, Drama, History"
9954,Supernatural,2005Ã¢Â€Â“2020,TV-14,44 min,"Drama, Fantasy, Horror"
9955,Devil in Ohio,-2022,TV-MA,356 min,"Drama, Horror, Mystery"

In [19]:
data2['release_year'] = data2['release_year'].str.replace('â€“', '')

In [20]:
data2

,title,release_year,rating,duration,category
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama"
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History"
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery"
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure"
...,...,...,...,...,...
9951,The Imperfects,2022Ã¢Â€Â“,TV-MA,45 min,"Action, Adventure, Drama"
9952,The Walking Dead,2010Ã¢Â€Â“2022,TV-MA,44 min,"Drama, Horror, Thriller"
9953,The Crown,2016Ã¢Â€Â“,TV-MA,58 min,"Biography, Drama, History"
9954,Supernatural,2005Ã¢Â€Â“2020,TV-14,44 min,"Drama, Fantasy, Horror"
9955,Devil in Ohio,-2022,TV-MA,356 min,"Drama, Horror, Mystery"

In [21]:
data2['release_year'] = data2['release_year'].str.replace('-', '')

In [22]:
data2

,title,release_year,rating,duration,category
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama"
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History"
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery"
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure"
...,...,...,...,...,...
9951,The Imperfects,2022Ã¢Â€Â“,TV-MA,45 min,"Action, Adventure, Drama"
9952,The Walking Dead,2010Ã¢Â€Â“2022,TV-MA,44 min,"Drama, Horror, Thriller"
9953,The Crown,2016Ã¢Â€Â“,TV-MA,58 min,"Biography, Drama, History"
9954,Supernatural,2005Ã¢Â€Â“2020,TV-14,44 min,"Drama, Fantasy, Horror"
9955,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery"

In [23]:
data2.dtypes

title           object
release_year    object
rating          object
duration        object
category        object
dtype: object

In [24]:
data2['release_year'] = data2['release_year'].str[:4]
data2

,title,release_year,rating,duration,category
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama"
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History"
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery"
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure"
...,...,...,...,...,...
9951,The Imperfects,2022,TV-MA,45 min,"Action, Adventure, Drama"
9952,The Walking Dead,2010,TV-MA,44 min,"Drama, Horror, Thriller"
9953,The Crown,2016,TV-MA,58 min,"Biography, Drama, History"
9954,Supernatural,2005,TV-14,44 min,"Drama, Fantasy, Horror"
9955,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery"

In [25]:
data2.duplicated().sum()

1257

In [26]:
data2 = data2.drop_duplicates()

In [27]:
data2.isna().sum()

title              0
release_year     452
rating          3287
duration        1561
category          73
dtype: int64

In [28]:
#we will leave for now the Nan values until we create the dataset with all the csv files.

In [29]:
data3 = pd.read_csv('../Netflix_project/dataset/netflix4.csv', encoding='latin-1')

In [30]:
data3

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,Unnamed: 11
0,s1,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",NaN
1,s2,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016.0,TV-MA,93 min,"Dramas, International Movies",NaN
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011.0,R,78 min,"Horror Movies, International Movies",NaN
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009.0,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",NaN
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008.0,PG-13,123 min,Dramas,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7994,s7995,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,25-Sep-20,2002.0,TV-MA,298 min,"Documentaries, Music & Musicals",NaN
7995,s7996,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,26-Sep-20,2003.0,TV-MA,299 min,"Documentaries, Music & Musicals",NaN
7996,s7997,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,27-Sep-20,2004.0,TV-MA,300 min,"Documentaries, Music & Musicals",NaN
7997,s7998,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,28-Sep-20,2005.0,TV-MA,301 min,"Documentaries, Music & Musicals",NaN
7998,s7999,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,29-Sep-20,2006.0,TV-MA,302 min,"Documentaries, Music & Musicals",NaN

In [31]:
data3 = data3.drop(['show_id','Unnamed: 11','date_added'], axis=1)

In [32]:
data3

,type,title,director,cast,country,release_year,rating,duration,listed_in
0,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano, ...",Mexico,2016.0,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011.0,R,78 min,"Horror Movies, International Movies"
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009.0,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008.0,PG-13,123 min,Dramas
...,...,...,...,...,...,...,...,...,...
7994,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2002.0,TV-MA,298 min,"Documentaries, Music & Musicals"
7995,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2003.0,TV-MA,299 min,"Documentaries, Music & Musicals"
7996,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2004.0,TV-MA,300 min,"Documentaries, Music & Musicals"
7997,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2005.0,TV-MA,301 min,"Documentaries, Music & Musicals"
7998,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2006.0,TV-MA,302 min,"Documentaries, Music & Musicals"

In [33]:
data3 = data3.rename(columns={'listed_in': 'category'})

In [34]:
data3.dtypes

type             object
title            object
director         object
cast             object
country          object
release_year    float64
rating           object
duration         object
category         object
dtype: object

In [35]:
data3['release_year'] = data3['release_year'].astype(str)
data3

,type,title,director,cast,country,release_year,rating,duration,category
0,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano, ...",Mexico,2016.0,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011.0,R,78 min,"Horror Movies, International Movies"
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009.0,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008.0,PG-13,123 min,Dramas
...,...,...,...,...,...,...,...,...,...
7994,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2002.0,TV-MA,298 min,"Documentaries, Music & Musicals"
7995,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2003.0,TV-MA,299 min,"Documentaries, Music & Musicals"
7996,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2004.0,TV-MA,300 min,"Documentaries, Music & Musicals"
7997,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2005.0,TV-MA,301 min,"Documentaries, Music & Musicals"
7998,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2006.0,TV-MA,302 min,"Documentaries, Music & Musicals"

In [36]:
data3.dtypes

type            object
title           object
director        object
cast            object
country         object
release_year    object
rating          object
duration        object
category        object
dtype: object

In [37]:
data3['release_year'] = data3['release_year'].str[:4]
data3

,type,title,director,cast,country,release_year,rating,duration,category
0,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano, ...",Mexico,2016,TV-MA,93 min,"Dramas, International Movies"
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011,R,78 min,"Horror Movies, International Movies"
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008,PG-13,123 min,Dramas
...,...,...,...,...,...,...,...,...,...
7994,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2002,TV-MA,298 min,"Documentaries, Music & Musicals"
7995,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2003,TV-MA,299 min,"Documentaries, Music & Musicals"
7996,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2004,TV-MA,300 min,"Documentaries, Music & Musicals"
7997,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2005,TV-MA,301 min,"Documentaries, Music & Musicals"
7998,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,2006,TV-MA,302 min,"Documentaries, Music & Musicals"

In [38]:
#we just want to check Nan values

In [39]:
data3.isna().sum()

type               0
title              0
director        2414
cast             717
country          511
release_year       0
rating             7
duration           0
category           0
dtype: int64

In [40]:
data3.duplicated().sum()

0

In [41]:
data4 = pd.read_csv('../Netflix_project/dataset/netflix5.csv')

In [42]:
data4

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,Unnamed: 11
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",NaN
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,NaN
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,NaN
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,NaN
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason SaldaÃ±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",NaN
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,NaN
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,NaN
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas",NaN
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",NaN

In [43]:
data4 = data4.drop(['show_id','Unnamed: 11','date_added'], axis=1)

In [44]:
data4 = data4.rename(columns={'listed_in': 'category'})

In [45]:
data4

,type,title,director,cast,country,release_year,rating,duration,category
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019,TV-PG,90 min,"Children & Family Movies, Comedies"
1,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,2016,TV-MA,94 min,Stand-Up Comedy
2,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2013,TV-Y7-FV,1 Season,Kids' TV
3,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2016,TV-Y7,1 Season,Kids' TV
4,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017,TV-14,99 min,Comedies
...,...,...,...,...,...,...,...,...,...
6229,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason SaldaÃ±a, Gustavo Sorola, G...",United States,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2016,TV-MA,4 Seasons,TV Comedies
6231,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,2016,NaN,60 min,Movies
6232,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas"
6233,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies"

In [46]:
data4.isna().sum()

type               0
title              0
director        1969
cast             570
country          476
release_year       0
rating            10
duration           0
category           0
dtype: int64

In [47]:
data4.duplicated().sum()

1

In [48]:
data4 = data4.drop_duplicates()

In [49]:
data1 = data1[['title', 'release_year', 'category', 'duration','country','type']]
data1.head()

,title,release_year,category,duration,country,type
0,Dick Johnson Is Dead,2020,Documentaries,90 min,United States,Movie
1,Ganglands,2021,"Crime TV Shows, International TV Shows, TV Act...",1 Season,France,TV Show
2,Midnight Mass,2021,"TV Dramas, TV Horror, TV Mysteries",1 Season,United States,TV Show
3,Confessions of an Invisible Girl,2021,"Children & Family Movies, Comedies",91 min,Brazil,Movie
4,Sankofa,1993,"Dramas, Independent Movies, International Movies",125 min,United States,Movie

In [50]:
data2 = data2[['title', 'release_year', 'category','duration','rating']]
data2.head()

,title,release_year,category,duration,rating
0,Cobra Kai,2018,"Action, Comedy, Drama",30 min,TV-14
1,The Crown,2016,"Biography, Drama, History",58 min,TV-MA
2,Better Call Saul,2015,"Crime, Drama",46 min,TV-MA
3,Devil in Ohio,2022,"Drama, Horror, Mystery",356 min,TV-MA
4,Cyberpunk: Edgerunners,2022,"Animation, Action, Adventure",24 min,TV-MA

In [51]:
data3 = data3[['title', 'release_year', 'category','duration','country','type', 'rating','director', 'cast']]
data3.head()

,title,release_year,category,duration,country,type,rating,director,cast
0,3%,2020,"International TV Shows, TV Dramas, TV Sci-Fi &...",4 Seasons,Brazil,TV Show,TV-MA,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, R..."
1,7:19,2016,"Dramas, International Movies",93 min,Mexico,Movie,TV-MA,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano, ..."
2,23:59,2011,"Horror Movies, International Movies",78 min,Singapore,Movie,R,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ..."
3,9,2009,"Action & Adventure, Independent Movies, Sci-Fi...",80 min,United States,Movie,PG-13,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly..."
4,21,2008,Dramas,123 min,United States,Movie,PG-13,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar..."

In [52]:
data4 = data4[['title', 'release_year', 'category','duration','country','type', 'rating','director', 'cast']]
data4.head()

,title,release_year,category,duration,country,type,rating,director,cast
0,Norm of the North: King Sized Adventure,2019,"Children & Family Movies, Comedies",90 min,"United States, India, South Korea, China",Movie,TV-PG,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole..."
1,Jandino: Whatever it Takes,2016,Stand-Up Comedy,94 min,United Kingdom,Movie,TV-MA,NaN,Jandino Asporaat
2,Transformers Prime,2013,Kids' TV,1 Season,United States,TV Show,TV-Y7-FV,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J..."
3,Transformers: Robots in Disguise,2016,Kids' TV,1 Season,United States,TV Show,TV-Y7,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ..."
4,#realityhigh,2017,Comedies,99 min,United States,Movie,TV-14,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins..."

In [53]:
data = pd.concat([data1, data2, data3, data4], axis=0)

In [54]:
data = data.reset_index(drop=True)

In [55]:
data.shape

(31718, 9)

In [56]:
data.isna().sum()

title               0
release_year      452
category           73
duration         1561
country          9686
type             8699
rating          12091
director        21869
cast            18773
dtype: int64

In [57]:
#we will not need these columns

In [58]:
data = data.drop(['director','cast'], axis=1)

In [59]:
data.shape

(31718, 7)

In [60]:
data.isna().sum()

title               0
release_year      452
category           73
duration         1561
country          9686
type             8699
rating          12091
dtype: int64

In [61]:
data = data.dropna(subset=['category'])

In [62]:
data.isna().sum()

title               0
release_year      415
category            0
duration         1496
country          9613
type             8626
rating          12018
dtype: int64

In [63]:
value_counts = data['release_year'].value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(value_counts)

2018    2206
2018    2008
2019    1989
2017    1989
2020    1885
2019    1872
2017    1749
2016    1731
2016    1459
2015    1072
2020     978
2015     953
2021     913
2022     787
2014     661
2014     640
2021     592
2013     530
2013     523
2012     419
2012     418
2010     341
2011     321
2011     314
2010     296
2009     273
2008     242
2009     215
2008     199
2006     164
2007     159
2006     153
2005     143
2007     142
2005     135
2023     126
2004     113
2003     102
2004      99
2002      93
2002      89
2001      79
2003      78
1997      69
2001      68
2000      68
1998      62
1999      60
2000      53
1998      52
1997      52
1999      49
1993      47
1995      42
1996      41
1992      39
1990      37
1993      37
1994      36
1995      36
1990      33
1991      32
1988      31
nan       30
1996      30
1994      28
1982      28
1989      27
1992      26
1991      24
1986      23
1989      20
1981      20
1983      20
1984      20
1982      20
1988      20
1973      19
1973      19
1980      18
1979      18
1985      18
1984      16
1979      16
1976      16
1987      15
1974      15
1975      14
1976      14
1978      14
1985      13
1977      13
1987      13
1978      13
1986      13
1983      13
1980      13
1968      12
1977      12
1975      12
1969      11
1981      11
1974      11
1956      10
1960      10
1966      10
1971      10
1967       9
1972       9
1971       8
1965       8
1960       8
1962       8
1967       8
1955       7
1945       7
1945       7
TV S       7
1968       7
1972       7
1946       6
1958       6
1962       6
1954       6
2024       6
1970       6
1944       6
1943       6
1946       5
1944       5
1958       5
1950       5
1969       4
1963       4
I 20       4
1964       4
1952       4
1943       4
1953       4
TV M       4
1955       4
1942       4
1961       4
1965       4
1942       3
1959       3
II 2       3
1964       3
1948       3
1954       3
1956       3
1963       3
1947       3
1970       3
1932       3
1941       2
1925       2
1959       2
1935       2
1934       2
1947       2
1966       2
1938       2
1933       2
1925       2
1957       2
1937       1
1931       1
1936       1
1949       1
1939       1
1940       1
1929       1
1930       1
2025       1
1928       1
1927       1
1926       1
1924       1
1923       1
1961       1
Vide       1
1951       1
Name: release_year, dtype: int64

In [64]:
data.to_csv('Datasetcleanup.csv', index=False)