In [1]:
import pandas as pd
import numpy as np

In [2]:
financialdata = pd.read_excel('../Netflix_project/dataset/netflix_financials.xlsx')

In [3]:
financialdata

,Year,Content spend ($bn),Revenue ($bn),Gross Profit ($bn),Net Income ($bn),Paid Subscribers (mm)
0,2009,0.00,1.8,0.59,0.12,11.89
1,2010,0.00,2.2,0.81,0.16,18.26
2,2011,0.00,3.2,1.16,0.23,24.30
3,2012,0.00,3.6,0.96,0.02,30.36
4,2013,0.00,4.4,1.30,0.11,41.43
5,2014,0.00,5.5,1.80,0.27,54.47
6,2015,0.00,6.8,2.20,0.12,70.83
7,2016,6.88,8.8,2.60,0.19,89.90
8,2017,8.91,11.6,3.70,0.56,110.64
9,2018,12.00,15.7,5.80,1.20,139.25
10,2019,13.90,20.1,7.70,1.90,167.09
11,2020,11.80,24.9,9.70,2.70,203.66
12,2021,17.70,29.6,12.40,5.10,219.70
13,2022,16.80,31.6,12.50,4.50,230.70

In [4]:
data1 = pd.read_csv('../Netflix_project/dataset/Datasetcleanup.csv')
data1

,title,release_year,category,duration,country,type
0,Dick Johnson Is Dead,2020,Documentaries,90 min,United States,Movie
1,Ganglands,2021,"Crime TV Shows, International TV Shows, TV Act...",1 Season,France,TV Show
2,Midnight Mass,2021,"TV Dramas, TV Horror, TV Mysteries",1 Season,United States,TV Show
3,Confessions of an Invisible Girl,2021,"Children & Family Movies, Comedies",91 min,Brazil,Movie
4,The Great British Baking Show,2021,"British TV Shows, Reality TV",9 Seasons,United Kingdom,TV Show
...,...,...,...,...,...,...
24665,The Adventures of Figaro Pho,2015,"Kids' TV, TV Comedies",2 Seasons,Australia,TV Show
24666,Red vs. Blue,2015,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",13 Seasons,United States,TV Show
24667,Maron,2016,TV Comedies,4 Seasons,United States,TV Show
24668,Little Baby Bum: Nursery Rhyme Friends,2016,Movies,60 min,NaN,Movie
24669,A Young Doctor's Notebook and Other Stories,2013,"British TV Shows, TV Comedies, TV Dramas",2 Seasons,United Kingdom,TV Show

In [5]:
value_counts = data1['release_year'].value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(value_counts)

2018    4214
2019    3861
2017    3738
2016    3190
2020    2863
2015    2025
2021    1505
2014    1301
2013    1053
2022     787
2023     126
2024       6
2025       1
Name: release_year, dtype: int64

In [6]:
merged_data = pd.merge(data1, financialdata, left_on='release_year', right_on='Year')
merged_data

,title,release_year,category,duration,country,type,Year,Content spend ($bn),Revenue ($bn),Gross Profit ($bn),Net Income ($bn),Paid Subscribers (mm)
0,Dick Johnson Is Dead,2020,Documentaries,90 min,United States,Movie,2020,11.8,24.9,9.7,2.7,203.66
1,Europe's Most Dangerous Man: Otto Skorzeny in ...,2020,"Documentaries, International Movies",67 min,Not Given,Movie,2020,11.8,24.9,9.7,2.7,203.66
2,Tayo and Little Wizards,2020,Kids' TV,1 Season,Pakistan,TV Show,2020,11.8,24.9,9.7,2.7,203.66
3,Bread Barbershop,2020,"Kids' TV, TV Comedies",2 Seasons,Pakistan,TV Show,2020,11.8,24.9,9.7,2.7,203.66
4,The Smart Money Woman,2020,"International TV Shows, Romantic TV Shows, TV ...",1 Season,South Africa,TV Show,2020,11.8,24.9,9.7,2.7,203.66
...,...,...,...,...,...,...,...,...,...,...,...,...
24532,Inventing Anna,2022,Drama,75 min,NaN,NaN,2022,16.8,31.6,12.5,4.5,230.70
24533,Inventing Anna,2022,Drama,60 min,NaN,NaN,2022,16.8,31.6,12.5,4.5,230.70
24534,Inventing Anna,2022,Drama,73 min,NaN,NaN,2022,16.8,31.6,12.5,4.5,230.70
24535,Inventing Anna,2022,Drama,83 min,NaN,NaN,2022,16.8,31.6,12.5,4.5,230.70
24536,Winning Time: The Rise of the Lakers Dynasty,2022,"Biography, Drama, Sport",59 min,NaN,NaN,2022,16.8,31.6,12.5,4.5,230.70

In [7]:
merged_data['country'].value_counts(dropna=False)

NaN                                       7724
United States                             5840
India                                     1787
United Kingdom                            1143
Canada                                     515
                                          ...
United States, China, Canada                 1
Canada, Belgium                              1
Romania, United Kingdom                      1
United Kingdom, Belgium                      1
United States, Ireland, United Kingdom       1
Name: country, Length: 606, dtype: int64

In [8]:
merged_data.isna().sum()

title                       0
release_year                0
category                    0
duration                  900
country                  7724
type                     6853
Year                        0
Content spend ($bn)         0
Revenue ($bn)               0
Gross Profit ($bn)          0
Net Income ($bn)            0
Paid Subscribers (mm)       0
dtype: int64

In [9]:
merged_data = merged_data.drop(['duration','country'], axis=1)

In [10]:
merged_data.to_csv('merged_data.csv', index=False)